.mainContainer{
    width: 100%;
    /*max-width: 500px;    */
    margin: 0 auto;   
    justify-content: center;
    align-items: center;   
    /*background-color: var(--secondary); --- IGNORE ---*/
}