
    .mainContainer{
       display: flex;
       flex-direction: column; 
       justify-content: center;
       align-items: center;
       width: 100%;
       max-width: 500px;
    }
    .seccion{                     
        display: flex;  
        justify-content: center;  
        align-items: center;            
        background-image: linear-gradient(135deg, #fcf8ec 0%, #75603d 55%, #493319 100%);;            
        width: 95%; 
        height: 2.5em; 
        margin-top: 1em; 
        border-radius: 0.5em; 
        box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, .5);              
    }  
    .tarjeta{
        display: flex;
        flex-direction: column;
        border-radius: 0.5em;
        border: 2px solid darkgray;
        overflow: hidden; 
        box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, .5);  
        width: 88%;  
        margin-top: 1em;                  
    }    
    .tarjeta:hover{
        box-shadow: 6px 5px 5px 5px rgba(0, 0, 0, .5); 
        border-color: red;
    }
    .contImagenProducto{
        display: flex;                   
        padding: 0.5em;
        background-color: white;            
        height: 15em;                                        
    }
    .contImagenProducto img{              
        height: 100%;/* Ocupa el 60% de la altura de la celda */
        margin: auto; /* Centra la imagen vertical y horizontalmente */
        object-fit: cover; /* Ajusta la imagen para cubrir la celda */ 
    }        
    .contSubtitulos { 
        background-color: #493319;               
        padding: 0.2em 0.3em;            
        text-align: left;                    
        max-width: 100%; /* Establece el ancho máximo del contenedor */
        text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al texto desbordado */            
    
    }       
     .productoPrecio{
        display: flex;
        justify-content: space-between;                       
    }
    .seccion h3{
        font-family: jost-bold;
        font-size: var(--text-lg);
        color: var(--vivid); 
    }
    .contSubtitulos h4{           
        font-size: var(--text-base); 
        color: var(--subtitle);   
        line-height: 0.8;            
    }        
    .contSubtitulos p{
        font-family: jost;
        margin-left: 0.5em;           
        font-size: var(--text-xs); 
        color: var(--secondary);   
        line-height: 1;
        margin-bottom: 0.3rem; /*Espacio mínimo abajo*/              
    }
    .contSubtitulos li{
        font-family: jost;                  
        font-size: var(--text-xs); 
        color: var(--secondary);   
        line-height: 1;
        margin-bottom: 0.3rem; /*Espacio mínimo abajo*/  
        position: relative;
        padding-left: 1rem;                      
    }
    .contSubtitulos ul ::before{
        content: ""; /* Contenido del círculo*/
        position: absolute;
        left: 0;
        top: .55em;
        width: .38rem;
        height: .38rem;
        border-radius: 50%;
        background: var(--vivid);                     
    }