  /* Reset base para que los componentes hereden correctamente */
@font-face{    
    font-family:jost;
    src: url(fonts/static/Jost-ExtraLight.ttf);
}
@font-face{    
    font-family:jost-bold;
    src: url(fonts/static/Jost-Bold.ttf);
}

:root {
  /* Colores */
  --title: #ffffff;
  --subtitle: #ffffff;
  --primary: linear-gradient(135deg, #fcf8ec 0%, #75603d 55%, #493319 100%);/** para el header y footer*/
  --secondary: #e2a860a7;/** para el body*/
  --vivid: #050606ec;

  /* Tipografías */
  --font-base: 'jost', sans-serif;
  --font-bold: 'jost-bold', sans-serif;

  /* Tamaños globales */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;
  --text-3xl: 2.5rem;
  --text-4xl: 3rem;
}
*, *::before, *::after {
  box-sizing: inherit;
}
img, picture, video,canvas, svg {
  display: block;
  max-width: 100%;
}
button, input, textarea, select {
  font: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  overflow-wrap: break-word;
}
html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  background-color: var(--secondary);
}
body {
  overflow-x: hidden;
}

